@model List<ContactDto>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Contacts</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>CreatedDate</th>
                        <th>ModifiedDate</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>CreatedDate</th>
                        <th>ModifiedDate</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @if (ViewData["NotFound"] != null)
                    {
                        <h1 class="text text-danger">@ViewData["NotFound"] Please create some contact !</h1>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FullName</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.CreatedDate</td>
                                <td>@item.ModifiedDate</td>
                            </tr>
                        }
                    }                   
                </tbody>
            </table>
        </div>
    </div>
</div>
