@using Newtonsoft.Json;
@model List<ContactDto>
@{
}
<!-- Page Heading -->
@if (ViewData["Not Found"] != null)
{
    <div class="alert alert-danger">
        <strong>Fail!</strong> @ViewData["Not Found"]
    </div>
}
else
{
    LabelDto label = (LabelDto)ViewData["label"];
    <div class="d-flex">
        <h1 class="h3 mb-2 text-gray-800">@label.LabelName (@Model.Count)</h1>
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 " asp-action="Update" method="post">
            <div class="input-group">
                <input hidden value="@label.Id" name="labelId" />
                <input type="text" class="form-control border-0 small" placeholder="Edit label name here !"
                       name="labelName">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>
            </div>
        </form>
        @if (TempData["UpdateError"] != null)
        {
            <div class="alert alert-danger">
                <strong>Fail!</strong> @ViewData["UpdateError"]
            </div>
        }
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">
                <strong>Success!</strong> @ViewData["success"]
            </div>
        }
    </div>   
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>CreatedDate</th>
                            <th>ModifiedDate</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>CreatedDate</th>
                            <th>ModifiedDate</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.FullName</td>
                                <td>
                                    @{
                                        string[] listEmail = JsonConvert.DeserializeObject<string[]>(item.Email);
                                        foreach (var item2 in listEmail)
                                        {
                                            <p>@item2</p>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        string[] listPhone = JsonConvert.DeserializeObject<string[]>(item.Phone);
                                        foreach (var item2 in listPhone)
                                        {
                                            <p>@item2</p>
                                        }
                                    }
                                </td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.ModifiedDate</td>
                                    <td>
                                        <a class="btn btn-warning" asp-controller="Contact" asp-action="Details" asp-route-id="@item.Id" asp-route-visit="true">Details</a> |
                                    <a class="btn btn-warning" asp-controller="Contact" asp-action="RemoveLabel" asp-route-labelId="@label.Id" asp-route-contactId="@item.Id" asp-route-labelPage="true">Remove Label</a> |
                                    <a class="btn btn-warning" asp-controller="Contact" asp-action="PutToTrash" asp-route-id="@item.Id" asp-route-labelPage="true">Put To Trash</a>
                                    </td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
